<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>FAQ</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-faq.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>


<%#-----------------------------------------------------------------%>

<body>

<h2> Frequently Asked Questions </h2>

<p><b> Q: Do people actually ask you the same questions frequently enough to warrant the creation of a page like this? </b> </p>

<p> A: No. </p>

</body>

</html>