<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>FAQ</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

</head>

<%#-----------------------------------------------------------------%>


<%#-----------------------------------------------------------------%>

<body>

<h2> Frequently Asked Questions </h2>

<p><b> Q: Do people actually ask you the same questions frequently enough to warrant a page like this? </b> </p>

<p> A: No. </p>

</body>

</html>