<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Kimberly Ding</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-index.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<div class="header">

<center>

<h1 style="padding-top:15px;"> KIMBERLY DING </h1>

<p>

I made this website.

</p>

</center>

</div>

<%#-----------------------------------------------------------------%>

<div class="transparentbg">

<div class="text">

<h2> ABOUT ME </h2>
<svg width="155" height="2" style="padding-bottom:5px;">
  <rect width="300" height="2" style="fill:#333333;" />
</svg>

<table class="portraittable">
<tbody>
<tr>

<td class="portraittablerow" style="padding-right:25px;">

Hi, I'm Kimberly! I'm currently a first-year undergraduate student pursuing a degree in computer science at Princeton. I like math and the more theoretical sides of computer science; I also have an interest in machine learning. There's still a lot of stuff that I don't know, and I'm looking forward to learning it!

<br></br>

My hobbies include jogging, playing Frisbee, and writing stories. In the past, I competed extensively in youth chess tournaments, but now I play chess just for fun. If I have enough time, I will travel a long distance to get some bubble tea. I really like bubble tea.

<br></br>

Fun fact: I can type at around 150 words per minute!

<br></br>

Feel free to take a look at my <a href="http://dingkimberly.herokuapp.com/files/resume.pdf" target="_blank">resume</a>, or scroll down to learn more about what I've done so far. 

<br></br>

NOTE: Picture on right is temporary placeholder. Will be replaced. 

</p>

</td>

<td class="portraittablerow">
<img src="/images/portrait.png" alt="It's me!" class="portrait">
</td>

</tr>
</tbody>
</table>

</div>
</div>

<%#-----------------------------------------------------------------%>

<div class="whitebg">

<div class="text">

<h2> EDUCATION </h2>
<svg width="170" height="2" style="padding-bottom:5px;">
  <rect width="300" height="2" style="fill:#333333" />
</svg>


<h3> Princeton University </h3>
<p>
<h4 style="padding-top: 5px;">
Bachelor of Science and Engineering in Computer Science
</h4>
<p>
2017 – 2021
</p>

<p style="padding-top: 5px;">
<b>Relevant coursework:</b> Algorithms and Data Structures (COS226), Introduction to Programming Systems (COS217), Probability and Stochastic Systems (ORF309), Advanced Vector Calculus (MAT203), Linear Algebra with Applications (MAT202)
</p>


</div>
</div>

<%#-----------------------------------------------------------------%>

<div class="transparentbg">

<div class="text">

<h2> PROJECTS </h2>
<svg width="145" height="2" style="padding-bottom:5px;">
  <rect width="290" height="2" style="fill:#333333" />
</svg>

<h3>
dingkimberly.herokuapp.com
</h3>


<p style="padding-top: 5px;">
At HackPrinceton Spring 2018, I designed, wrote, and deployed this website from scratch in one sitting. 
</p>


<h3 style="padding-top: 15px;">
RemindList
</h3>


<p style="padding-top: 5px;">
At HackPrinceton Fall 2017, my first hackathon, 
</p>

<h3 style="padding-top: 15px;">
Rutgers Robohand
</h3>


<p style="padding-top: 5px;">
I worked with four other team members to WRITE HERE. We also presented our research and wrote a <a href="http://dingkimberly.herokuapp.com/files/rutgers-robohand.pdf" target="_blank">paper</a>.
</p>

</div>

</div>

<%#-----------------------------------------------------------------%>


<div class="whitebg">

<div class="text">

<h2> CONTACT ME </h2>
<svg width="190" height="2" style="padding-bottom:5px;">
  <rect width="300" height="2" style="fill:#333333" />
</svg>

<p>

Email:

<a href="mailto:dingkimberly@gmail.com">dingkimberly@gmail.com</a></td>,
<a href="mailto:kding@cprinceton.edu">kding@princeton.edu</a>

</p>

<p>

Facebook:
<a href="https://www.facebook.com/dingkimberly">dingkimberly</a>

</p>

<p>

LinkedIn:

<a href="https://www.linkedin.com/in/dingkimberly/">dingkimberly</a>

</p>

<p>

GitHub:

<a href="https://github.com/dingkimberly">dingkimberly</a>

</p>

</div> 
</div>

<%#-----------------------------------------------------------------%>

<div class="transparentbg">

<div class="text">

<h2> MISCELLANEOUS </h2>
<svg width="235" height="2" style="padding-bottom:5px;">
  <rect width="300" height="2" style="fill:#333333" />
</svg>

<p>
Currently it is 7 AM and I've been awake all night. There's some dude snoring in a classroom nearby. I've eaten like 99999 Goldfish crackers. I will think of what to put in this section later.

</div>
</div>

<%#-----------------------------------------------------------------%>

</body>

</html>