<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Kimberly Ding</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-index.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<div class="header">

<center>

<h1> Kimberly Ding </h1>

</p>

I made this website.

It's about me. 

</center>

</div>

<%#-----------------------------------------------------------------%>

<div class="transparentbg">

<div class="text">

<h2> About Me </h2>

</div>
</div>

<%#-----------------------------------------------------------------%>

<div class="whitebg">

<div class="text">

<h2> Education </h2>

Princeton University

</div>
</div>

<%#-----------------------------------------------------------------%>

<div class="transparentbg">

<div class="text">

<h2> Projects </h2>

<a href="http://dingkimberly.herokuapp.com/files/rutgers-robohand.pdf" target="_blank">Rutgers Robohand</a>

</div>

</div>

<%#-----------------------------------------------------------------%>

<div class="whitebg">

<div class="text">

<h2> Achievements </h2>

</div>
</div>

<%#-----------------------------------------------------------------%>

<div class="transparentbg">

<div class="text">

<h2> Contact </h2>

</p>

Email:

<a href="mailto:dingkimberly@gmail.com">dingkimberly@gmail.com</a></td>,
<a href="mailto:kding@cprinceton.edu">kding@princeton.edu</a>

</p>

Facebook:
<a href="https://www.facebook.com/dingkimberly">dingkimberly</a>

</p>

LinkedIn:

<a href="https://www.linkedin.com/in/dingkimberly/">dingkimberly</a>

</p>

GitHub:

<a href="https://github.com/dingkimberly">dingkimberly</a>

</div> 
</div>

<%#-----------------------------------------------------------------%>

</body>

</html>