<!DOCTYPE html>
<html>

<%#-------------------------------------------------------------------------------------------------------------------%>

<head>

<title>Kimberly Ding</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-index.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

<meta charset="utf-8">
<meta name="Description" CONTENT="The personal website of Kimberly Ding.">

</head>

<%#-------------------------------------------------------------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-------------------------------------------------------------------------------------------------------------------%>

<body>

<div id="header">

<center>
<h1 style="padding:15px;"> KIMBERLY DING </h1>
</center>

</div>

<%#-------------------------------------------------------------------------------------------------------------------%>

<div class="transparentbg">

    <div class="greeting">
    <center><h3>Nice to meet you!</h3></center>
    </div>

    <div class="row">

        <div class="col-image">
                <img id="portrait" src="/images/portrait.png">
        </div>

        <div class="col-text">
            <h2> ABOUT ME </h2>

            <div class="text">
                <p>
                Hi, I'm Kimberly! Currently, I'm an undergraduate student pursuing a degree in
                computer science at Princeton. My interests include math and the more theoretical sides of
                computer science, especially machine learning. I have experience in software engineering and
                web development.
                </p></br>

                <p>
                In my free time, I enjoy reading speculative fiction, jogging, and putting hot sauce on things.
                Sometimes I also think of more stuff to add to this website.
                </p></br>

                <p>
                Fun facts about me:
                <li>I used to play competitive chess.</li>
                <li>I can type at around 160 words per minute.</li>
                <li>My favorite color varies from time to time. Right now, it's <span id="randcolor"></span>!</li>
                </p></br>

                <p>
                Take a look at my <a href="http://dingkimberly.herokuapp.com/files/CV.pdf" target="_blank">CV</a>
                or read more below.
                </p>
            </div>
        </div>
    </div>
</div>


<%#-------------------------------------------------------------------------------------------------------------------%>

<div class="whitebg">

<h2>PROJECTS</h2>

<div class="text">

    <h3>String Categorization</h3>

    <p>
    Working with a team, I wrote Python scripts to preprocess text data and train a 
    <a href="https://github.com/dingkimberly/string-categorization" target="_blank">classification model</a>
    for product descriptions. 
    </p>

    </br>

    <h3>Memory.py</h3>

    <p>
    I coded a Unix-executable
    <a href="https://github.com/dingkimberly/memorypy" target="_blank">memory game</a>
    in Python. It's slightly customizable.
    </p>

    </br>


    <h3>Ayybot</h3>

    <p>
    I made a
    <a href="https://github.com/dingkimberly/AYYbot" target="_blank">Discord bot</a>
    with some useful functions,
    a bunch of if statements, and something resembling a personality.
    </p>

    </br>

    <h3>dingkimberly.com</h3>

    <p>
    I made this website without a template, writing most of the
    <a href="https://github.com/dingkimberly/website" target="_blank">source code</a> myself.
    </p>

</div>

</div>

<%#-------------------------------------------------------------------------------------------------------------------%>

<section class="transparentbg" >

<h2>CONTACT ME</h2>

<div class="text">

<p>
Email: <a href="mailto:dingkimberly@gmail.com">dingkimberly@gmail.com</a>
</p>

<p>
LinkedIn: <a href="https://www.linkedin.com/in/dingkimberly/" target="_blank">dingkimberly</a>
</p>

<p>
GitHub: <a href="https://github.com/dingkimberly" target="_blank">dingkimberly</a>
</p>

</div> 
</section>

</br></br>

<%#-------------------------------------------------------------------------------------------------------------------%>

<script>

        var colors = ['blue', 'red'];
        var light_hex = ["#91a8ee", "#ff8080", "#999999", "#00b300"];
        var dark_hex = ["#3862e0", "#ff0000", "#595959", "#006600"];
        var rand_ind = Math.floor(Math.random()*colors.length);
    
        document.getElementById("randcolor").innerHTML = colors[rand_ind];
    
        document.getElementById("header").style.backgroundColor = light_hex[rand_ind];
        document.getElementById("header").style.borderBottom = "5px solid " + dark_hex[rand_ind];

        document.getElementById("portrait").style.border = "3px solid " + dark_hex[rand_ind];
    
        var links = document.getElementsByTagName("a");
    
        for(var i=0;i<links.length;i++)
        {
            var link = links[i];
            link.style.color = dark_hex[rand_ind];
            
            link.addEventListener("mouseover", function() {
                this.style.color = light_hex[rand_ind];
            });
            link.addEventListener("mouseout", function() {
                this.style.color = dark_hex[rand_ind];
            });
        } 

</script>

<%#-------------------------------------------------------------------------------------------------------------------%>

</body>

</html>