<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>
<head>

<title>Secrets</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-secrets.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lancelot">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Lancelot';
	font-size: 21px;
}

</style>

<%#-----------------------------------------------------------------%>
<body>

<h1>Secrets</h1>

<ol>
<li>
I'm sad that I had to delete <i>Animal Crossing: Pocket Camp</i>.
I really liked that game, but it was such a waste of time. 
</li>

<li>
I'm sad that I lost all my progress on <i>Neko Atsume</i> after I switched phones, but I think it's silly that the app developers never implemented a save feature.
</li>

<li>
Once, I dreamed that I met my older self. She was dressed all in black. 
</li>

<li>
I'm afraid that I don't even have enough secrets to make an interesting list.
</li>

<li>
I used to listen to Taylor Swift ironically, but now I listen to her music unironically. 
</li>

<li>
I want to get a pet cat, but what if the cat doesn't like me? I'll have to live with that cat for years.
</li>

<li>
I tell myself that the reason why I never put stickers on my laptop is because I prefer the way it looks without stickers. That's partly true, but also, I'm not ready for that kind of commitment. Stickers stressed me out when I was a kid. They kind of still do...
</li>

<li>
By the way, is this page hard to read? Is it because of the font color? The background color? Well, good. You shouldn't be reading my secrets.
</li>

<li>
Who the hell are you, anyway?
</li>

<li>
Making this website was really fun. It reminded me of <a href="https://pinkkea.wordpress.com/" target="_blank">my old WordPress blog</a> from 2008–2009. The existence of this blog may, in fact, be the most interesting secret in this list. 
</li>

<li> Actually, let's pretend for a moment that this page <i>is</i> my old WordPress blog. The reason is pure nostalgia.</li>

</ol>

<hr>


<%#-----------------------------------------------------------------%>

<h1>Dragons</h1>


<%#----- Dreamy dragons -----%>

<p>

<a href="https://dragcave.net/view/Lta71" target="_blank"><img src="https://dragcave.net/image/Lta71.gif" style="border-width:0" /></a>


<a href="https://dragcave.net/view/EzP9E" target="_blank"><img src="https://dragcave.net/image/EzP9E.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/bj9ra" target="_blank"><img src="https://dragcave.net/image/bj9ra.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/BNTNU" target="_blank"><img src="https://dragcave.net/image/BNTNU.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/BTdX9" target="_blank"><img src="https://dragcave.net/image/BTdX9.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/4vzh" target="_blank"><img src="https://dragcave.net/image/4vzh.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/UpQYF" target="_blank"><img src="https://dragcave.net/image/UpQYF.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/pdGID" target="_blank"><img src="https://dragcave.net/image/pdGID.gif" style="border-width:0" /></a>


<a href="https://dragcave.net/view/7MtGK" target="_blank"><img src="https://dragcave.net/image/7MtGK.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/ztxxp" target="_blank"><img src="https://dragcave.net/image/ztxxp.gif" style="border-width:0" /></a>

</p>

<%#----- Powerful dragons -----%>

<p>

<a href="https://dragcave.net/view/IwayB" target="_blank"><img src="https://dragcave.net/image/IwayB.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/Ovan6" target="_blank"><img src="https://dragcave.net/image/Ovan6.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/IpOZU" target="_blank"><img src="https://dragcave.net/image/IpOZU.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/2rcmc" target="_blank"><img src="https://dragcave.net/image/2rcmc.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/eDH2R" target="_blank"><img src="https://dragcave.net/image/eDH2R.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/iZl1i" target="_blank"><img src="https://dragcave.net/image/iZl1i.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/LPVzH" target="_blank"><img src="https://dragcave.net/image/LPVzH.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/dHWE5" target="_blank"><img src="https://dragcave.net/image/dHWE5.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/zQFOs" target="_blank"><img src="https://dragcave.net/image/zQFOs.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/WtKGB" target="_blank"><img src="https://dragcave.net/image/WtKGB.gif" style="border-width:0" /></a>

</p>

<%#----- Misc. dragons -----%>
 
<p>

<a href="https://dragcave.net/view/j8tj" target="_blank"><img src="https://dragcave.net/image/j8tj.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/TrWA5" target="_blank"><img src="https://dragcave.net/image/TrWA5.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/4Xisy" target="_blank"><img src="https://dragcave.net/image/4Xisy.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/npQiZ" target="_blank"><img src="https://dragcave.net/image/npQiZ.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/AoUhl" target="_blank"><img src="https://dragcave.net/image/AoUhl.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/W8v01" target="_blank"><img src="https://dragcave.net/image/W8v01.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/dFQR2" target="_blank"><img src="https://dragcave.net/image/dFQR2.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/0b8bC" target="_blank"><img src="https://dragcave.net/image/0b8bC.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/P0tud" target="_blank"><img src="https://dragcave.net/image/P0tud.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/cJBAW" target="_blank"><img src="https://dragcave.net/image/cJBAW.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/ivZOD" target="_blank"><img src="https://dragcave.net/image/ivZOD.gif" style="border-width:0" /></a>

</p>

<%#----- Seasonal, holiday, and weird dragons -----%>

<p>

<a href="https://dragcave.net/view/1U7jR" target="_blank"><img src="https://dragcave.net/image/1U7jR.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/f9r9t" target="_blank"><img src="https://dragcave.net/image/f9r9t.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/bOn6v" target="_blank"><img src="https://dragcave.net/image/bOn6v.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/ERONb" target="_blank"><img src="https://dragcave.net/image/ERONb.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/Dn8rz" target="_blank"><img src="https://dragcave.net/image/Dn8rz.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/qekg9" target="_blank"><img src="https://dragcave.net/image/qekg9.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/yQWQ0" target="_blank"><img src="https://dragcave.net/image/yQWQ0.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/y9PHM" target="_blank"><img src="https://dragcave.net/image/y9PHM.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/lBVwS" target="_blank"><img src="https://dragcave.net/image/lBVwS.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/7217a" target="_blank"><img src="https://dragcave.net/image/7217a.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/AZM8Q" target="_blank"><img src="https://dragcave.net/image/AZM8Q.gif" style="border-width:0" /></a>

</p>


<%#-----------------------------------------------------------------%>

<h1>Neopets</h1>

<p>
<img src='http://images.neopets.com/template_images/uni_vain_faerie.gif'>
<img src='http://images.neopets.com/template_images/xweetok_face_wink.gif'>

<img src='http://images.neopets.com/template_images/chokato_doughtnut_turn.gif'>

<img src='http://images.neopets.com/template_images/checkered_icecream.gif'>

<img src='http://images.neopets.com/template_images/glamour_perfume_sparkle.gif'>

<img src='http://images.neopets.com/template_images/glamour_bracelet_sparkle.gif'>

<img src='http://images.neopets.com/template_images/negg_angel_flying.gif'>


</p>


<p>
<img src='http://images.neopets.com/template_images/tea_cup.gif'>

<img src='http://images.neopets.com/template_images/tea_steam.gif'>

</p>

<p>

<img src='http://images.neopets.com/template_images/waffle_disappearing.gif'>

</p>


</p>




</p>
<%#-----------------------------------------------------------------%>


<hr>
<p style="padding-top:1%;"> This is the end of the page for now. </p>

</body>

</html>