<!DOCTYPE html>
<html>

<head>

<title>Secrets</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">
<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-secrets.css">

</head>

<body>
	<h1> Secrets that nobody can ever know: </h1>

I&rsquo;m sad that I had to delete <i>Animal Crossing: Pocket Camp</i>.
I really liked that game, but it was such a waste of time. 

<br>
<br>


I&rsquo;m sad that I lost all my progress on <i>Neko Atsume</i> after I switched phones, but I think it&rsquo;s silly that the app developers never implemented a save feature.

<br>
<br>

Once, I dreamed that I met my older self. She was dressed all in black. 

<br>
<br>

Sometimes I feel afraid. 

</body>

</html>