<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>
<head>

<title>Secrets</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-secrets.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lancelot">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Lancelot';
	font-size: 21px;
}

</style>

<%#-----------------------------------------------------------------%>
<body>

<p>Making this website was really fun. It reminded me of <a href="https://pinkkea.wordpress.com/" target="_blank">my old WordPress blog</a> from 2008–2009. </p>
    
<p>In fact, pinkkea is a name I used frequently back then and still use now for fun online accounts like my Neopets account, my Club Penguin account, and of course, that blog, where I wrote about fun things. </p>
    
<p> 
Let's pretend for a moment that this page <i>is</i> my old blog! The reason is pure nostalgia.

</p>

<hr>


<%#-----------------------------------------------------------------%>

<h1>Dragons</h1>


<%#----- Dreamy dragons -----%>

<p>

<a href="https://dragcave.net/view/Lta71" target="_blank"><img src="https://dragcave.net/image/Lta71.gif" style="border-width:0" /></a>


<a href="https://dragcave.net/view/EzP9E" target="_blank"><img src="https://dragcave.net/image/EzP9E.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/bj9ra" target="_blank"><img src="https://dragcave.net/image/bj9ra.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/BNTNU" target="_blank"><img src="https://dragcave.net/image/BNTNU.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/BTdX9" target="_blank"><img src="https://dragcave.net/image/BTdX9.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/4vzh" target="_blank"><img src="https://dragcave.net/image/4vzh.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/UpQYF" target="_blank"><img src="https://dragcave.net/image/UpQYF.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/pdGID" target="_blank"><img src="https://dragcave.net/image/pdGID.gif" style="border-width:0" /></a>


<a href="https://dragcave.net/view/7MtGK" target="_blank"><img src="https://dragcave.net/image/7MtGK.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/ztxxp" target="_blank"><img src="https://dragcave.net/image/ztxxp.gif" style="border-width:0" /></a>

</p>

<%#----- Powerful dragons -----%>

<p>

<a href="https://dragcave.net/view/IwayB" target="_blank"><img src="https://dragcave.net/image/IwayB.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/Ovan6" target="_blank"><img src="https://dragcave.net/image/Ovan6.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/IpOZU" target="_blank"><img src="https://dragcave.net/image/IpOZU.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/2rcmc" target="_blank"><img src="https://dragcave.net/image/2rcmc.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/eDH2R" target="_blank"><img src="https://dragcave.net/image/eDH2R.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/iZl1i" target="_blank"><img src="https://dragcave.net/image/iZl1i.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/LPVzH" target="_blank"><img src="https://dragcave.net/image/LPVzH.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/dHWE5" target="_blank"><img src="https://dragcave.net/image/dHWE5.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/zQFOs" target="_blank"><img src="https://dragcave.net/image/zQFOs.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/WtKGB" target="_blank"><img src="https://dragcave.net/image/WtKGB.gif" style="border-width:0" /></a>

</p>

<%#----- Misc. dragons -----%>
 
<p>

<a href="https://dragcave.net/view/j8tj" target="_blank"><img src="https://dragcave.net/image/j8tj.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/TrWA5" target="_blank"><img src="https://dragcave.net/image/TrWA5.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/4Xisy" target="_blank"><img src="https://dragcave.net/image/4Xisy.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/npQiZ" target="_blank"><img src="https://dragcave.net/image/npQiZ.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/AoUhl" target="_blank"><img src="https://dragcave.net/image/AoUhl.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/W8v01" target="_blank"><img src="https://dragcave.net/image/W8v01.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/dFQR2" target="_blank"><img src="https://dragcave.net/image/dFQR2.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/0b8bC" target="_blank"><img src="https://dragcave.net/image/0b8bC.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/P0tud" target="_blank"><img src="https://dragcave.net/image/P0tud.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/cJBAW" target="_blank"><img src="https://dragcave.net/image/cJBAW.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/ivZOD" target="_blank"><img src="https://dragcave.net/image/ivZOD.gif" style="border-width:0" /></a>

</p>

<%#----- Seasonal, holiday, and weird dragons -----%>

<p>

<a href="https://dragcave.net/view/1U7jR" target="_blank"><img src="https://dragcave.net/image/1U7jR.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/f9r9t" target="_blank"><img src="https://dragcave.net/image/f9r9t.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/bOn6v" target="_blank"><img src="https://dragcave.net/image/bOn6v.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/ERONb" target="_blank"><img src="https://dragcave.net/image/ERONb.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/Dn8rz" target="_blank"><img src="https://dragcave.net/image/Dn8rz.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/qekg9" target="_blank"><img src="https://dragcave.net/image/qekg9.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/yQWQ0" target="_blank"><img src="https://dragcave.net/image/yQWQ0.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/y9PHM" target="_blank"><img src="https://dragcave.net/image/y9PHM.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/lBVwS" target="_blank"><img src="https://dragcave.net/image/lBVwS.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/7217a" target="_blank"><img src="https://dragcave.net/image/7217a.gif" style="border-width:0" /></a>

<a href="https://dragcave.net/view/AZM8Q" target="_blank"><img src="https://dragcave.net/image/AZM8Q.gif" style="border-width:0" /></a>

</p>


<%#-----------------------------------------------------------------%>

<h1>Neopets</h1>

<p>
<img src='http://images.neopets.com/template_images/uni_vain_faerie.gif'>
<img src='http://images.neopets.com/template_images/xweetok_face_wink.gif'>

<img src='http://images.neopets.com/template_images/chokato_doughtnut_turn.gif'>

<img src='http://images.neopets.com/template_images/checkered_icecream.gif'>

<img src='http://images.neopets.com/template_images/glamour_perfume_sparkle.gif'>

<img src='http://images.neopets.com/template_images/glamour_bracelet_sparkle.gif'>

<img src='http://images.neopets.com/template_images/negg_angel_flying.gif'>


</p>


<p>
<img src='http://images.neopets.com/template_images/tea_cup.gif'>

<img src='http://images.neopets.com/template_images/tea_steam.gif'>

</p>

<p>

<img src='http://images.neopets.com/template_images/waffle_disappearing.gif'>

</p>

<%#-----------------------------------------------------------------%>


<hr>
<p style="padding-top:1%;"> This is the end of the page for now. </p>

</body>

</html>