<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Stories</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-stories.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<h2> Dreams </h2>

<p>
Once I had a dream that there was a story written on this page.

<p>


<br>

<a href="https://dingkimberly.herokuapp.com/stories/index">Back to index</a>

</body>

</html>