<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Test</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-test.css">

</head>


<%#-----------------------------------------------------------------%>

<body>
<center>
<header>

I want an animation over here.  



</header>
</center>

</body>



</html>