<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Test</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-test.css">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<h2> That Place, the Stuff of Dreams </h2>

<p>
Once I had a dream that there was a story written on this page.

<p>


<br>

<a href="https://dingkimberly.herokuapp.com/writing/index">Back to index</a>

</body>

</html>