<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Test</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-test.css">

</head>


<%#-----------------------------------------------------------------%>

<body>

I'm writing stuff on this page. 

<img src="/images/svg-test.svg">

</body>

</html>