<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>To-do List</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-todolist.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Philosopher">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Philosopher';
	font-size: 30px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<h1 style="font-size:150%;"> To-do list:</h1>

<ul>

<li> General </li>
<ul>
<li>Change error message from "Cannot GET /whatever" to an actual error message</li>
<li>Figure out why fonts aren't working on mobile</li>
</ul>

<li> Button </li>
<ul>
<li>Save counts so that refreshing doesn't reset</li>
<li>Record highest count ever reached</li>
</ul>

<li>Additional exercises</li>
<ul>
<li>Whiteboard that saves, or something like yourworldoftext</li>
<li>Personality quiz; maybe some other type of quiz</li>
</ul>


</ul>


</body>

</html>