<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Poems</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-writing.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<h2> Poems </h2>

<h3>The Little Mermaid</h3>

<p class="c1"><span class="c0">My flesh and bones are not my own.</span></p><p class="c1"><span class="c4">I don&rsquo;t belong inside this skin. </span></p><p class="c1"><span class="c4">I look upon the shining sea </span></p><p class="c1"><span class="c0">And wonder when.</span></p><p class="c1 c2"><span class="c0"></span></p><p class="c1"><span class="c0">Lord, take from me my aching heart.</span></p><p class="c1"><span class="c0">Distill it into white seafoam. </span></p><p class="c1"><span class="c0">Collect my weak and weary soul;</span></p><p class="c1"><span class="c0">Let me go home. </span></p><p class="c1 c2"><span class="c0"></span></p><p class="c1"><span class="c0">This fish was never meant to be</span></p><p class="c1"><span class="c0">A girl who walks on solid ground.</span></p><p class="c1"><span class="c0">No castle stands on earth for her:</span></p><p class="c1"><span class="c0">She&rsquo;s better drowned.</span></p><p class="c1 c2"><span class="c0"></span></p>


<h3>Sisyphus</h3>

<p>Each time I get this boulder up</p><p class="c1"><span class="c0">It comes back down again</span></p><p class="c1"><span class="c0">To break my bones and smash my head.</span></p><p class="c1"><span class="c0">It hurts me quite a lot, you know,</span></p><p class="c1"><span class="c0">But I have nowhere else to go.</span></p><p class="c1"><span class="c0">I cannot even kill myself</span></p><p class="c1"><span class="c0">Since I&rsquo;m already dead.</span></p><p class="c1 c2"><span class="c0"></span></p><p class="c1"><span class="c0">I don&rsquo;t think I can speak for long</span></p><p class="c1"><span class="c0">(I&rsquo;m running out of breath)</span></p><p class="c1"><span class="c0">But, my friend, if you&rsquo;d help me,</span></p><p class="c1"><span class="c0">Poor man doomed for eternity,</span></p><p class="c1"><span class="c0">Then find a way for me to die</span></p><p class="c1"><span class="c0">A second, deeper death. </span></p><div><p class="c1 c2"><span class="c6"></span></p></div>


<br>

<a href="https://dingkimberly.herokuapp.com/writing/index">Back to index</a>

</body>

</html>