<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Stories</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-writing.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<h2> Writing </h2>

<h3> Short stories </h3>

<p class=MsoNormal> <a href="https://dingkimberly.herokuapp.com/writing/that-place">"That Place, the Stuff of Dreams"</a> </p>

<h3> Miscellaneous </h3>

<p class=MsoNormal> <a href="https://dingkimberly.herokuapp.com/writing/poems">Assorted poems</a> </p>

<p class=MsoNormal> <a href="https://dingkimberly.herokuapp.com/writing/dreams">Dream diary</a> </p>



</body>

</html>