<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Poems</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-writing.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<h2> Poems </h2>

<h3>The first poem</h3>

<p>Roses are red,</p>
<p>Violets are blue</p>
<p>This poem is read,</p>
<p>So are you.</p>

<br>

<a href="https://dingkimberly.herokuapp.com/writing/index">Back to index</a>

</body>

</html>