<!DOCTYPE html>
<html>

<%#-----------------------------------------------------------------%>

<head>

<title>Dreams</title>

<link rel="shortcut icon" type="image/png" sizes="32x32" href="/images/favicon.png">

<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-writing.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

</head>

<%#-----------------------------------------------------------------%>

<style>

body {
	font-family: 'Oxygen';
	font-size: 18px;
}

</style>

<%#-----------------------------------------------------------------%>

<body>

<h2> Dream Diary </h2>

<h3> January 2, 2018</h3>

<p>
I dreamed that I was supposed to be really good at magic.
<p>


<br>

<a href="https://dingkimberly.herokuapp.com/writing/index">Back to index</a>

</body>

</html>