html {
	background-color: #333333;
	color: white;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 75px;
}

a:link { text-decoration: none; color: #4169e1; font-weight: 900; }
a:hover { text-decoration: none; color: #a7b9f1; font-weight: 900; }
a:visited { text-decoration: none; color: #4169e1; }
a:visited:hover { text-decoration: none; color: #a7b9f1; font-weight: 900; }
a:active { text-decoration: none; color: #4169e1; }

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 2px solid white;
    margin: 0;
    padding: 0;
}