* { margin: 0; padding: 0; box-sizing: border-box; }

html { 
	background-color: #F5F5F5;
	color: #333333;
    	border: 0;
    	outline: 0;
  	vertical-align: baseline;
	line-height: 150%;

}

br { line-height: 100%; }

a:link { text-decoration: none; color: #4169e1; font-weight: 900; }
a:hover { text-decoration: none; color: #a7b9f1; font-weight: 900; }
a:visited { text-decoration: none; color: #4169e1; }
a:visited:hover { text-decoration: none; color: #a7b9f1; font-weight: 900; }
a:active { text-decoration: none; color: #4169e1; }

.header {
	margin: 0;
	padding: 2%;
	background-color: #91a8ee;
	border-bottom: 5px solid #3862e0;
}

h1 { padding-bottom: 1%;}

h2 { padding-bottom: 20px; }

.greeting {
    padding-bottom: 3%;
}

.col-image {
    position: relative;
    text-align: center;
    min-height: 1px;
}
.col-text {
    position: relative;
    min-height: 1px;
    text-align: left;
}
.portrait {
    display: inline-block;
    text-align: center;
    border: 3px solid #333333;
}

@media (min-width: 769px) {
  .greeting {
    display: none;
    width: 0%;
    height: 0%;
  }
  .col-image {
    float: right;
    width: 40%;
  }
  .col-text {
    float: right;
    width: 60%;
  }
  .portrait {
    width: calc(40vw - 50px);
    min-width: 280px;
    max-width: 500px;
    margin: 20px;
  }
}

@media (max-width: 768px) {

  .portrait {
  	display: inline-block;
  	float: center;
  	text-align: center;
    width: 50%;
    min-width: 350px;
    margin-bottom: 3%;
  }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.transparentbg {
	padding: 5%;
	background-color: transparent;
}

.whitebg {
	padding: 5%;
	background-color: white;
}

.text {
    text-align: left;
}