html {
	background-color: white;
	background-image: url("/images/lined-paper-texture.jpg");
	color: #1a1a1a;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 	padding-left: 50px;
}