* { margin: 0; padding: 0; box-sizing: border-box; }

html { 
	background-color: #F5F5F5;
	color: #333333;
    	border: 0;
    	outline: 0;
  	vertical-align: baseline;
	line-height: 150%;

}

br { line-height: 100%; }

a:link { text-decoration: none; color: #4169e1; font-weight: 900; }
a:hover { text-decoration: none; color: #a7b9f1; font-weight: 900; }
a:visited { text-decoration: none; color: #4169e1; }
a:visited:hover { text-decoration: none; color: #a7b9f1; font-weight: 900; }
a:active { text-decoration: none; color: #4169e1; }

.header {
	margin: 0;
	padding: 25px;
	background-color: #eb9494;
	border-bottom: 5px solid #961d1d;
}

h1 { padding-bottom: 10px; }

h2 { padding-bottom: 10px; text-decoration-line: underline; }

h3 { color: #961d1d; padding-top: 15px;}

.portrait {
	float: right;
	margin-left: 25px;
	width: 30%;
	border: 3px solid #333333;
}

.princetonshield {
	float: right;
	margin-left: 50px;
	width: 12%;

}

.transparentbg {
	padding: 25px;
	background-color: transparent;
}

.whitebg {
	padding: 25px;
	background-color: white;
}




.text {
	margin-left: 100px;
	margin-right: 100px;
	padding: 25px;
}